@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer components {
  .card-child::before {
    opacity: 0;
    transition: all 0.5s;
  }

  .card:hover .card-child::before {
    opacity: 1;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .qty-count--minus {
    border-right: 1px solid #e2e2e2;
  }
  .qty-count--add {
    border-left: 1px solid #e2e2e2;
  }
  .qty-count--add:after {
    transform: rotate(90deg);
  }
  .qty-input {
    border: 1px solid #e2e2e2;
  }
  .showcase-btn {
    padding: 0.5rem 3.4rem;
    border: 1px solid #e2e2e2;
  }

  .shadow {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  }

  details[open] summary ~ * {
    animation: open 0.3s ease-in-out;
  }

  @keyframes open {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  details summary {
    width: 100%;
    position: relative;
    cursor: pointer;
    list-style: none;
    background-color: #f3f4f6;
  }

  details summary:after {
    content: "+";
    color: black;
    position: absolute;
    font-size: 1.75rem;
    line-height: 0;
    margin-top: 0.75rem;
    top: 7px;
    right: 10px;
    font-weight: 200;
    transform-origin: center;
    transition: 200ms linear;
  }
  details[open] summary:after {
    transform: rotate(45deg);
    color: #f3f4f6;
  }
  details[open] summary {
    background-color: #030712;
    color: white;
  }
  details summary {
    outline: 0;
  }

  .sort {
    position: relative;
  }

  .sort span {
    min-width: 135px;
    padding: 5px 15px;
    color: rgb(30 41 59);
    font-size: 1em;
    cursor: pointer;
    display: block;
  }

  .sort span::after {
    float: right;
    right: 10%;
    content: "+";
    transform-origin: center;
    transition: 200ms linear;
  }

  .sort .slide {
    position: absolute;
    clear: both;
    width: 100%;
    height: 0px;
    overflow: hidden;
    text-align: center;
    transition: height 0.4s ease;
    z-index: 9;
  }

  /* .sort .slide li {
    color: rgb(30 41 59);
    padding: 5px 15px;
    background: white;
    font-size: 0.8rem;
  }

  .sort .slide li:hover {
    background-color: rgb(229 231 235);
  } */

  #touch {
    position: absolute;
    opacity: 0;
    height: 0px;
  }

  #touch:checked + .slide {
    height: fit-content;
  }

  #touch:checked + span::after {
    transform: rotate(45deg);
  }
}
